<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<div class="bg-image"
     th:style="|
    background-image: url(@{/images/bg.jpg});
    height: 100vh;
  |">
    <th:block th:insert="/fragments/navbar :: navbar"></th:block>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <div class="col p-2 rounded bg-light">
                    <form th:action="@{/order/booking}" th:object="${order}" th:method="GET">
                        <h2 class="text-center">Calculate price</h2>
                        <div class="form-check">
                            <label for="needDriver" class="form-check-label">Need driver (+30$ per/day)</label>
                            <input type="checkbox" id="needDriver"
                                   th:field="*{withDriver}"
                                   class="checkbox-custom">
                        </div>
                        <div class="d-flex flex-row m-2">
                            <div class="col px-2">
                                <label for="startDate" class="label">Start date</label>
                                <input type="date" class="form-control" id="startDate"
                                       th:value="*{startDate}"
                                       th:field="*{startDate}"
                                       th:attr="min=*{startDate}"
                                       placeholder="Date" required>
                                <div class="alert alert-danger"
                                     th:if="${#fields.hasErrors('startDate')}"
                                     th:errors="*{startDate}"></div>
                            </div>
                            <div class="col px-2">
                                <label for="endDate" class="label">End date</label>
                                <input type="date" class="form-control" id="endDate"
                                       th:value="*{endDate}"
                                       th:field="*{endDate}"
                                       th:attr="min=*{startDate.plusDays(1)}"
                                       placeholder="Date" required>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center m-2">
                            <input type="submit" value="Calculate price" class="btn btn-info py-3 px-4">
                        </div>
                        <input type="hidden" th:value="*{car}" th:field="*{car}">
                    </form>
                </div>
            </div>
            <div class="col-xl">
                <div class="row">
                    <img width="400px" height="500px"
                         th:src="@{'/cars/image?id=' + ${order.car.id}}">
                </div>
                <div class="row px-3 bg-light">
                    <div th:text="|${order.car.manufacturer} ${order.car.model}|"></div>
                    <div th:text="|Price per day  $${order.car.pricePerDay}/day|"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="/fragments/footer :: footer"></div>
</div>
</body>
</html>