<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div>
    <form th:action="@{/order/bookCar}" th:object="${order}" th:method="POST">
        <div th:text="${order}"></div>
        <div th:text="|Car = *{car.id}|"></div>
        <div th:text="|Total price = *{rentalPrice}|"></div>
        <input type="hidden"
               th:value="*{car}"
               th:field="*{car}">
        <input type="hidden" id="startDate"
               th:value="*{startDate}"
               th:field="*{startDate}">
        <input type="hidden" id="endDate"
               th:value="*{endDate}"
               th:field="*{endDate}">
        <input type="hidden" id="rentalPrice"
               th:value="*{rentalPrice}"
               th:field="*{rentalPrice}">
        <input type="hidden" id="withDriver"
               th:value="*{withDriver}"
               th:field="*{withDriver}">
        <labe for="firstName" class="form-label">First name</labe>
        <input type="text" id="firstName"
               th:field="*{passportData.firstName}">
        <labe for="astName" class="form-label">Last name</labe>
        <input type="text" id="lastName"
               th:field="*{passportData.lastName}">
        <labe for="passport" class="form-label">Passport</labe>
        <input type="text" id="passport"
               th:field="*{passportData.passportCode}">
        <labe for="issueDate" class="form-label">Issue date</labe>
        <input type="date" id="issueDate"
               th:field="*{passportData.issueDate}">
        <labe for="issueDepartment" class="form-label">Issue department</labe>
        <input type="text" id="issueDepartment"
               th:field="*{passportData.issueDepartment}">
        <button type="submit">Send order</button>
    </form>
</div>

<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>