<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div th:if="${!userOrders.isEmpty()} ?: 'Not found'">
    <div th:each="userOrder : ${userOrders}">
        <p th:text="${userOrder}"></p>
    </div>
</div>
<div th:if="${userOrders.isEmpty()}">
    <p>Not found</p>
</div>


<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>