<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div>
    <form th:action="@{/order/payment}" th:object="${order}" th:method="POST">
        <div th:text="${order}"></div>
        <div th:text="|Car = *{carDto.id}|"></div>
        <div th:text="|Total price = *{rentalPrice}|"></div>
        <input type="hidden"
               th:value="*{carDto.id}"
               th:field="*{carDto.id}">
        <input type="hidden" id="startDate"
               th:value="*{startDate}"
               th:field="*{startDate}">
        <input type="hidden" id="endDate"
               th:value="*{endDate}"
               th:field="*{endDate}">
        <input type="hidden" id="rentalPrice"
               th:value="*{rentalPrice}"
               th:field="*{rentalPrice}">
        <input type="hidden" id="withDriver"
               th:value="*{withDriver}"
               th:field="*{withDriver}">
        <input type="hidden"
               th:value="*{passportData}"
               th:field="*{passportData}">
        <button type="submit">Send order</button>
    </form>
</div>

<div class="fixed-bottom" th:insert="/fragments/footer :: body"></div>
</body>
</html>