<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div th:if="${!orders.isEmpty()} ?: 'Not found'">
    <div class="container my-2">
        <h1>Orders</h1>
        <div class="row">
            <div class="col">
                <th:block th:insert="/fragments/pagination :: pagination"></th:block>
            </div>
            <div class="col">
                <form th:action="@{/manager/orders}" th:method="GET" th:object="${pagination}" onchange="submit()">
                    <label class="form-label" for="size">Page size
                        <select class="form-select" name="size" id="size">
                            <option th:value="1" th:selected="*{size} == 1">1</option>
                            <option th:value="4" th:selected="*{size} == 4">4</option>
                            <option th:value="8" th:selected="*{size} == 8">8</option>
                            <option th:value="16" th:selected="*{size} == 16">16</option>
                        </select>
                    </label>
                    <label class="form-label" for="sort">Sort
                        <select class="form-select" name="sort" id="sort">
                            <option th:value="orderDetails.orderStatus"
                                    th:selected="*{sort eq 'orderDetails.orderStatus'}">
                                Order status
                            </option>
                            <option th:value="orderDetails.startDate"
                                    th:selected="*{sort eq 'orderDetails.startDate'}">
                                Start date
                            </option>

                            <option th:value="orderDetails.rentalPrice"
                                    th:selected="*{sort eq 'orderDetails.rentalPrice'}">
                                Rental price
                            </option>
                        </select>
                    </label>
                    <label class="form-label" for="direction">Sort direction
                        <select class="form-select" name="direction" id="direction">
                            <option th:value="ASC" th:selected="*{direction eq 'ASC'}">ASC</option>
                            <option th:value="DESC" th:selected="*{direction eq 'DESC'}">DESC</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row grid-view">
                <div class="col-sm-3 mb-3" th:each="order : ${orders}">
                    <div class="card border rounded bg-light">
                        <img class="card-img-top" width="75%"
                             th:src="@{'/cars/image?id=' + ${order.car.id}}">
                        <div class="col" th:text="|${order.car.manufacturer} ${order.car.model}|">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col"
                                     th:text="|Client: ${order.appUserDto.firstName} ${order.appUserDto.lastName}|">
                                </div>
                                <div class="col" th:text="|With driver: ${order.withDriver ? 'Yes' : 'No'}">
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col" th:text="|Start date: ${order.startDate}|">
                                </div>
                                <div class="col" th:text="|End date: ${order.endDate}|">
                                </div>
                            </div>
                            <div class="col" th:text="|Status: ${order.orderStatus}|">
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col" th:if="${order.orderStatus.name eq 'REJECTED'}"
                                     th:text="|Reject details: ${order.rejectOrderDetails}|">
                                </div>
                                <div class="col" th:if="${order.repairPayment != null}"
                                     th:text="|${order.repairPayment.damageDescription} $${order.repairPayment.repairCost}|">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-0 px-3">
                            <th:blcok th:if="${order.orderStatus.name eq 'PENDING'}">
                                <form class="col" th:action="@{/manager/reject/{id}(id=${order.id})}"
                                      th:method="GET">
                                    <input type="submit"
                                           th:attr="onclick=|return confirm('Reject order?')|"
                                           value="Reject"
                                           class="btn btn-warning">
                                </form>
                                <form class="col" th:action="@{/manager/accept/{id}(id=${order.id})}"
                                      th:method="PUT">
                                    <input type="submit"
                                           th:attr="onclick=|return confirm('Accept order')|"
                                           value="Accept"
                                           class="btn btn-success">
                                </form>
                            </th:blcok>
                            <form class="col" th:if="${order.orderStatus.name eq 'CLIENT_WANT_RETURN'}"
                                  th:action="@{/manager/return/{id}(id=${order.id})}" th:method="GET">
                                <input type="submit"
                                       th:attr="onclick=|return confirm('Submit return order?')|"
                                       value="Submit return"
                                       class="btn btn-info">
                            </form>
                            <form class="col" th:if="${order.orderStatus.name eq 'REPAIR_PAID'}"
                                  th:action="@{/manager/complete/{id}(id=${order.id})}" th:method="PUT">
                                <input type="submit"
                                       th:attr="onclick=|return confirm('Submit return order?')|"
                                       value="Complete"
                                       class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="/fragments/pagination :: pagination"></th:block>
        </div>
    </div>
    <div th:insert="/fragments/footer :: footer"></div>
</div>
</body>
</html>