<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div class="container justify-content-center">
    <div th:if="${param.success}" class="alert alert-success">Edit success</div>
    <div th:if="${param.failed}" class="alert alert-danger"
         th:text="|Edit failed ${appUser.email} already exists|"></div>
    <div class="col">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center">
                        <div class="m-b-25">
                            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                                 alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600"
                            th:text="|${appUser.firstName} ${appUser.lastName}|">
                            Name</h6>
                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="text-muted f-w-400" th:text="${appUser.email}">Email</h6>
                            </div>
                        </div>
                    </div>
                    <a type="button" class="btn m-2 btn-info" th:href="@{/profile/edit}">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="/fragments/footer :: footer"></th:block>
</body>
</html>