<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>
<div th:text="${car}">
</div>
<th:block sec:authorize="hasAuthority('ADMIN')">
    <div>
        <form th:action="@{/admin/delete/{id}(id=${car.id})}" th:method="DELETE">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
    <a th:href="@{/admin/edit/{id}(id=${car.id})}" class="btn btn-info">Edit car</a>
    <a class="btn btn-primary" th:href="@{/cars/new}">New car</a>
</th:block>
<th:block sec:authorize="!isAuthenticated || hasAuthority('USER')">
    <form th:action="@{/order}" th:method="GET">
        <input type="hidden" name="carId" th:value="${car.id}">
        <input class="btn btn-danger" type="submit" value="Rent a car">
    </form>
</th:block>
<div class="fixed-bottom" th:insert="/fragments/footer :: body"></div>
</body>
</html>