<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>
<div th:if="${param.success}">
    <div class="alert alert-success">Car created</div>
</div>
<div th:each="car : ${cars}">
    <div th:text="${car}"></div>
    <th:block sec:authorize="hasAuthority('ADMIN')">
        <div>
            <form th:action="@{/admin/deleteCar/{id}(id=${car.id})}" th:method="DELETE">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
        <a th:href="@{/admin/editCar/{id}(id=${car.id})}" class="btn btn-info">Edit car</a>
        <a class="btn btn-primary" th:href="@{/cars/new}">New car</a>
    </th:block>
    <a th:href="@{/cars/{id}(id=${car.id})}" class="btn btn-info">Detail</a>
    <th:block sec:authorize="!isAuthenticated || hasAuthority('USER')">
        <form th:action="@{/order}" th:method="GET">
            <input type="hidden" name="carId" th:value="${car.id}">
            <input class="btn btn-danger" type="submit" value="Rent a car">
        </form>
    </th:block>
</div>
<th:block th:if="${cars.isEmpty()}">NOT FOUND</th:block>
<div class="fixed-bottom" th:insert="/fragments/footer :: body"></div>
</body>
</html>