<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<form th:action="@{/admin/newCar}" th:object="${car}" method="post">
    <label for="manufacturers">Manufacturers</label>
    <select class="form-select" id="manufacturers" th:field="*{manufacturer}" required>
        <option th:each="manufacturer : ${manufacturers}"
                th:text="${manufacturer}"
                th:value="${manufacturer}"></option>
    </select>
    <label for="model">Car model</label>
    <input type="text" name="model" id="model" th:field="*{model}" required><br>
    <label for="class">Class</label>
    <select class="form-select" id="class" th:field="*{categoryClass}" required>
        <option th:each="class : ${class}"
                th:text="${class}"
                th:value="${class}"></option>
    </select>
    <label for="pricePerDay">Price per day $</label>
    <input type="number" name="pricePerDay" id="pricePerDay" th:field="*{pricePerDay}" required>
    <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Add">
</form>

<div class="fixed-bottom" th:insert="/fragments/footer :: body"></div>
</body>
</html>