<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div class="container my-2">
    <div class="row no-gutters">
        <th:block sec:authorize="!isAuthenticated()">
            Register to book car
        </th:block>
        <th:block sec:authorize="hasAuthority('USER')">
            <div class="col-md-4 d-flex align-items-center">
                <form th:action="@{/user/bookCar}" th:object="${order}" th:method="POST"
                      class="request-form ftco-animate fadeInUp ftco-animated">
                    <div class="d-flex">
                        <div class="form-group mr-2">
                            <label for="startDate" class="label">Start date</label>
                            <input type="date" class="form-control" id="startDate"
                                   th:value="*{startDate}"
                                   th:field="*{startDate}"
                                   th:attr="min=*{startDate}"
                                   placeholder="Date" required readonly>
                        </div>
                        <div class="form-group ml-2">
                            <label for="endDate" class="label">End date</label>
                            <input type="date" class="form-control" id="endDate"
                                   th:value="*{endDate}"
                                   th:field="*{endDate}"
                                   th:attr="min=*{startDate.plusDays(1)}"
                                   placeholder="Date" required readonly>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2">
                            <labe for="firstName" class="form-label">First name</labe>
                            <input class="form-control" type="text" id="firstName"
                                   th:field="*{passportData.firstName}" required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('passportData.firstName')}"
                                 th:errors="*{passportData.firstName}"></div>
                        </div>
                        <div class="form-group ml-2">
                            <labe for="lastName" class="form-label">Last name</labe>
                            <input class="form-control" type="text" id="lastName"
                                   th:field="*{passportData.lastName}" required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('passportData.lastName')}"
                                 th:errors="*{passportData.lastName}"></div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2">
                            <labe for="passport" class="form-label">Passport code</labe>
                            <input class="form-control" type="text" id="passport"
                                   th:field="*{passportData.passportCode}" required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('passportData.passportCode')}"
                                 th:errors="*{passportData.passportCode}"></div>
                        </div>
                        <div class="form-group ml-2">
                            <labe for="issueDate" class="form-label">Issue date</labe>
                            <input class="form-control" type="date" id="issueDate"
                                   th:field="*{passportData.issueDate}" required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('passportData.issueDate')}"
                                 th:errors="*{passportData.issueDate}"></div>
                        </div>
                        <div class="form-group ml-2">
                            <labe for="issueDepartment" class="form-label">Issue department</labe>
                            <input class="form-control" type="text" id="issueDepartment"
                                   th:field="*{passportData.issueDepartment}" required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('passportData.issueDepartment')}"
                                 th:errors="*{passportData.issueDepartment}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send order" class="btn btn-primary py-3 px-4">
                    </div>
                    <input type="hidden"
                           th:value="*{car}"
                           th:field="*{car}">
                    <input type="hidden" id="rentalPrice"
                           th:value="*{rentalPrice}"
                           th:field="*{rentalPrice}">
                    <input type="hidden" id="withDriver"
                           th:value="*{withDriver}"
                           th:field="*{withDriver}">
                </form>
            </div>
        </th:block>
        <div class="col-md-8 d-flex align-items-center">

            <div>
                <div th:text="|${order.car.manufacturer} ${order.car.model}|"></div>
                <div th:text="|Total days = ${order.numberOfRentDays}|"></div>
                <div th:text="|With driver = ${order.withDriver ? 'Yes' : 'No'}|"></div>
                <div th:text="|Total price = $${order.rentalPrice}|"></div>
                <img width="75%" height="100%"
                     th:src="@{'/cars/image?id=' + ${order.car.id}}">
            </div>
        </div>
    </div>
</div>

<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>