<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head"></th:block>
</head>
<body>
<th:block th:insert="fragments/navbar :: navbar"></th:block>

<div th:if="${!userOrders.isEmpty()}">
    <div class="container my-2">
        <h1>Orders</h1>
        <div class="row">
            <div class="col">
                <th:block th:insert="fragments/pagination :: pagination"></th:block>
            </div>
            <div class="col">
                <form th:action="@{/user/orders}" th:method="GET" th:object="${pagination}" onchange="submit()">
                    <label class="form-label" for="size">
                        <th:block th:text="#{size}">Page size</th:block>
                        <select class="form-select" name="size" id="size">
                            <option th:value="1" th:selected="*{size} == 1">1</option>
                            <option th:value="4" th:selected="*{size} == 4">4</option>
                            <option th:value="8" th:selected="*{size} == 8">8</option>
                            <option th:value="16" th:selected="*{size} == 16">16</option>
                        </select>
                    </label>
                    <label class="form-label" for="sort">
                        <th:block th:text="#{sort}">Sort</th:block>
                        <select class="form-select" name="sort" id="sort">
                            <option th:value="orderDetails.orderStatus"
                                    th:selected="*{sort eq 'orderDetails.orderStatus'}"
                                    th:text="#{order.status}">
                                Order status
                            </option>
                            <option th:value="orderDetails.startDate"
                                    th:selected="*{sort eq 'orderDetails.startDate'}"
                                    th:text="#{start.date}">
                                Start date
                            </option>

                            <option th:value="orderDetails.rentalPrice"
                                    th:selected="*{sort eq 'orderDetails.rentalPrice'}"
                                    th:text="#{order.rental.price}">
                                Rental price
                            </option>
                        </select>
                    </label>
                    <label class="form-label" for="direction">
                        <th:block th:text="#{sort.direction}">Sort direction</th:block>
                        <select class="form-select" name="direction" id="direction">
                            <option th:value="ASC" th:selected="*{direction eq 'ASC'}" th:text="#{sort.direction.asc}">
                                ASC
                            </option>
                            <option th:value="DESC" th:selected="*{direction eq 'DESC'}"
                                    th:text="#{sort.direction.desc}">DESC
                            </option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row grid-view">
                <div class="col-sm-3 mb-3" th:each="order : ${userOrders}">
                    <div class="card border rounded bg-light">
                        <img class="card-img-top" width="75%"
                             th:src="@{'/cars/image?id=' + ${order.car.id}}">
                        <div class="col" th:text="|${order.car.manufacturer} ${order.car.model}|">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col">
                                    <th:block th:text="|#{with.driver}:|"></th:block>
                                    <th:block th:text="${order.withDriver} ? #{yes} : #{no}"></th:block>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col" th:text="|#{start.date}: ${order.startDate}|">
                                </div>
                                <div class="col" th:text="|#{end.date}: ${order.endDate}|">
                                </div>
                            </div>
                            <div class="col" th:text="|#{order.status}: ${order.orderStatus}|">
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <div class="col" th:if="${order.orderStatus.name eq 'REJECTED'}"
                                     th:text="|#{order.reject.details}: ${order.rejectOrderDetails}|">
                                </div>
                                <div class="col" th:if="${order.repairPayment != null}"
                                     th:text="|${order.repairPayment.damageDescription} $${order.repairPayment.repairCost}|">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-0 px-3">
                            <form class="col" th:if="${order.orderStatus.name eq 'AWAIT_PAYMENT'}"
                                  th:action="@{/user/pay/order/{id}(id=${order.id})}" th:method="PUT">
                                <button type="submit"
                                        th:attr="onclick=|return confirm('Pay$${order.rentalPrice} for car ${order.car.manufacturer} ${order.car.model}')|"
                                        th:text="#{order.pay.car}"
                                        class="btn btn-success">
                                </button>
                            </form>

                            <form class="col" th:if="${order.orderStatus.name eq 'AWAIT_REPAIR_PAYMENT'}"
                                  th:action="@{/user/pay/repair/{id}(id=${order.id})}" th:method="PUT">
                                <button type="submit"
                                        th:attr="onclick=|return confirm('Pay$${order.repairPayment.repairCost} for car damage ${order.car.manufacturer} ${order.car.model} ${order.repairPayment.damageDescription}')|"
                                        th:text="#{order.pay.repair}"
                                        class="btn btn-success">
                                </button>
                            </form>

                            <form class="col" th:if="${order.orderStatus.name eq 'PAID'}"
                                  th:action="@{/user/return/{id}(id=${order.id})}" th:method="PUT">
                                <button type="submit"
                                        th:attr="onclick=|return confirm('Want return car?)|"
                                        th:text="#{order.return}"
                                        class="btn btn-success">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="fragments/pagination :: pagination"></th:block>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>