<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/head"></th:block>
</head>
<body>
<th:block th:insert="/fragments/navbar :: navbar"></th:block>

<div th:if="${!userOrders.isEmpty()}">
    <div class="container my-2">
        <h1>Orders</h1>
        <div class="row">
            <div class="col">
                <th:block th:insert="/fragments/pagination :: pagination"></th:block>
            </div>
            <div class="col">
                <form th:action="@{/user/orders}" th:method="GET" th:object="${pagination}" onchange="submit()">
                    <label class="form-label" for="size">Page size
                        <select class="form-select" name="size" id="size">
                            <option th:value="1" th:selected="*{size} == 1">1</option>
                            <option th:value="5" th:selected="*{size} == 5">5</option>
                            <option th:value="10" th:selected="*{size} == 10">10</option>
                            <option th:value="20" th:selected="*{size} == 20">20</option>
                        </select>
                    </label>
                    <label class="form-label" for="sort">Sort
                        <select class="form-select" name="sort" id="sort">
                            <option th:value="orderDetails.orderStatus"
                                    th:selected="*{sort eq 'orderDetails.orderStatus'}">
                                Order status
                            </option>
                            <option th:value="orderDetails.startDate"
                                    th:selected="*{sort eq 'orderDetails.startDate'}">
                                Start date
                            </option>

                            <option th:value="orderDetails.rentalPrice"
                                    th:selected="*{sort eq 'orderDetails.rentalPrice'}">
                                Rental price
                            </option>
                        </select>
                    </label>
                    <label class="form-label" for="direction">Sort direction
                        <select class="form-select" name="direction" id="direction">
                            <option th:value="ASC" th:selected="*{direction eq 'ASC'}">ASC</option>
                            <option th:value="DESC" th:selected="*{direction eq 'DESC'}">DESC</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>№</th>
                <th>Car</th>
                <th>With driver</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Rental price total</th>
                <th>Order status</th>
                <th>Reject details</th>
                <th>Repair payment</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, i : ${userOrders}">
                <td th:text="${i.index} + 1"></td>
                <td>
                    <div th:text="|${order.car.manufacturer} ${order.car.model}|"></div>
                    <img width="150px" height="100px"
                         th:src="@{'/cars/image?id=' + ${order.car.id}}">
                </td>
                <td th:text="${order.withDriver} ? Yes : No"></td>
                <td th:text="${order.startDate}"></td>
                <td th:text="${order.endDate}"></td>
                <td th:text="${order.rentalPrice}"></td>
                <td th:text="${order.orderStatus}"></td>
                <td th:if="${order.orderStatus.name eq 'REJECTED'}"
                    th:text="${order.rejectOrderDetails}"></td>
                <td th:if="${order.repairPayment != null}"
                    th:text="|${order.repairPayment.damageDescription} ${order.repairPayment.repairCost}|"></td>
                <td>
                    <form th:if="${order.orderStatus.name eq 'AWAIT_PAYMENT'}"
                          th:action="@{/user/pay/order/{id}(id=${order.id})}" th:method="PUT">
                        <input type="submit"
                               th:attr="onclick=|return confirm('Pay $${order.rentalPrice} for car ${order.car.manufacturer} ${order.car.model}')|"
                               value="Pay order"
                               class="btn btn-success">
                    </form>

                    <form th:if="${order.orderStatus.name eq 'AWAIT_REPAIR'}"
                          th:action="@{/user/pay/repair/{id}(id=${order.id})}" th:method="PUT">
                        <input type="submit"
                               th:attr="onclick=|return confirm('Pay$${order.rentalPrice} for car ${order.car.manufacturer} ${order.car.model}')|"
                               value="Pay repair"
                               class="btn btn-warning">
                    </form>
                    <a th:href="@{/order/{id}(id=${order.id})}" class="btn btn-info">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:insert="/fragments/pagination :: pagination"></th:block>
    </div>
</div>
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>