<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, appUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header class="p-3 bg-dark text-white" th:fragment="navbar">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" srcset=""
                     class="bi me-2" width="80" height="55">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2  px-2 text-secondary" th:href="@{/}">Home</a></li>
                <li><a th:href="@{/cars}" class="nav-link px-2 text-white">Cars</a></li>
                <th:block sec:authorize="hasAuthority('ADMIN')">
                    <li class="text-end">
                        <a type="button" class="btn btn-warning" th:href="@{/admin/newManager}">Create new
                            manager</a>
                    </li>
                    <li class="text-end">
                        <a class="btn btn-primary" th:href="@{/admin/newCar}">New car</a>
                    </li>
                </th:block>
                <li sec:authorize="hasAuthority('USER')" class="text-end">
                    <a type="button" class="btn btn-warning" th:href="@{/user/myOrders}">My orders</a>
                </li>
            </ul>

            <form th:action="@{/cars}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." name="model"
                       id="model" aria-label="Search">
            </form>


            <div sec:authorize="!isAuthenticated()" class="text-end">
                <a type="button" class="btn btn-warning" th:href="@{/login}">Login</a>
                <a type="button" class="btn btn-warning" th:href="@{/registration}">Sign-up</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="text-end">
                <div th:text="${#authentication.principal.firstName}">
                </div>
                <a type="button" class="btn btn-warning" th:href="@{/profile}">Profile</a>
                <a type="button" class="btn btn-warning" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>